<!DOCTYPE html>

<html>
    <head>
        
       <style>

        form{
            padding: 40px;
            background-color: lightblue;
            width:35%;
            
            text-align: center;
            border-radius:8px;
            margin:auto;

        }
        div{
            padding:10px;
            text-align:justify;

        }

        input{

            width:80%;
            margin: 0px 10px;
        }

        label{

            margin: 0px 10px;
        }

       </style>


    </head>
    <body>
        
        <form method='post'>
            {% csrf_token %}
        
            <h3>Login Here</h3>
            <div>
            <label for='username'>Username:</label><br>
            <input type='text' id='username' name='username' placeholder='Enter username' required>
            <br><br>
            
        
            <label for='pass1'>Password:</label><br>
            <input type='Password' id='pass1' name='pass1' placeholder='Enter Password' required>
            <br><br>
        
            
            </div>
            <button type='submit'>Login</button>
            <br><br>
            <a href="http://127.0.0.1:8000/">Don't have an account, Create Account</a>
           
            
            

        </body>
        </form>
        
    </body>
</html>